<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="page-header">
            <h1>Panneau d'administration Jarvis <small>Port utilisé : {{ port }}</small></h1>
        </div>

        <ul class="nav nav-pills">
            <li role="presentation" {% if displayMode == 1 %} class="active" {% endif %}><a href="#">Dernières 24h</a></li>
            <li role="presentation"  {% if displayMode == 2 %} class="active" {% endif %}><a href="#">7 derniers jours</a></li>
        </ul>


        {% for key, value in alarms %}
            Day : {{ key }}<br />
            Alarms : {{ value }}<br /> <br/>
        {% endfor %}

    </body>
</html>
