<!DOCTYPE html>
<html>
    <head>
        <title>Mettre à jour le mot de passe - Jarvis</title>
        <link rel="stylesheet" text="text/css" href="style.css" />
    </head>
    <body>
        <h1>Mettre à jour le mot de passe</h1>
        {% if displayError == true %}
        <p class="error">{{ errorMessage }}</p>
        {% endif %}
        <form method="post" action="/updatePassword">
            <label for="password">Password :</label>
            <input type="text" name="password" />
            <label for="confirmPassword">Password (confirm) :</label>
            <input type="text" name="confirmPassword" />
            <input type="submit" value="OK" />
        </form>
    </body>
</html>
